
html{
    overflow-x: hidden;
    box-shadow: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}

body::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

:root{
    --Cor-Primaria: #FE4F3F;
    --Cor-Secundaria: #000000;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}



#config-button1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Cor-Primaria);
    background-color: var(--Branco);
    border-radius: 0px 30px 30px 0px;
    border-color: white;
    margin-bottom: 6px;
    transition: 0.5s;
}

#config-button1:hover{
    border: solid 1px rgb(192, 192, 192);
    transition: 0.5s;
    border-left: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}


#config-button1 p{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

#config-button1 img{
    width: auto;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}



#config-button2{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Cor-Primaria);
    background-color: var(--Branco);
    border-radius: 0px 30px 30px 0px;
    border-left: none;
    border-color: white;
    margin-bottom: 6px;
    transition: 0.5s;
}

#config-button2:hover{
    border: solid 1px var(--Cor-Terciaria);
    transition: 0.5s;
    border-left: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

#config-button2 p{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}   

#config-button2 img{
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

}


#config-button3{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Branco);
    border-radius: 0px 30px 30px 0px;
    border-color: white;
    background-color: var(--Cor-Secundaria);
    margin-bottom: 6px;
    transition: 0.5s;
}



#config-button3 p{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

#config-button3 img{
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

#config-button4{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Cor-Primaria);
    border-radius: 0px 30px 30px 0px;
    border-color: white;
    margin-bottom: 6px;
    transition: 0.5s;
}

#config-button4:hover{
    border: solid 1px var(--Cor-Terciaria);
    transition: 0.5s;
    border-left: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

#config-button4 p{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

#config-button4 img{
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
