/* styles.css */
/* html, body { height: 100%; margin: 0; } */

/* body .bg-eagle {
  /* caminho relativo ao seu projeto */
  /* background-image: url("../img/Mask\ group.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: right bottom; */ /* canto inferior direito */
  /* background-size: 40% auto; */ /* ajusta o tamanho; use 'cover' se preferir cobrir tudo */
  /* background-attachment: fixed; */ /* fica fixo ao rolar a página */
/* } */

/* responsividade: reduz a imagem em telas pequenas */
/* @media (max-width: 768px) {
  body { background-size: 60% auto; }
} */


html{
    overflow-x: hidden;
    box-shadow: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}

body::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

:root{
    --Cor-Primaria: #FE4F3F;
    --Cor-Secundaria: #000000;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}




#config-button1{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: var(--Cor-Secundaria);
    border-radius: 0px 30px 30px 0px;
    border-color: white;
    margin-bottom: 6px;
    transition: 0.5s;
}


#config-button1 p{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

#config-button1 img{
    width: auto;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}



#config-button2{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Cor-Primaria);
    border-radius: 0px 30px 30px 0px;
    border-left: none;
    border-color: white;
    transition: 0.5s;
    margin-bottom: 10px;
    
}

#config-button2:hover{
    border: solid 1px rgb(192, 192, 192);
    transition: 0.5s;
    border-left: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}


#config-button2 p{
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
}   

#config-button2 img{
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

}


#config-button3{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Cor-Primaria);
    border-radius: 0px 30px 30px 0px;
    border-color: white;
    margin-bottom: 10px;
    transition: 0.5s;
}

#config-button3:hover{
    border: solid 1px var(--Cor-Terciaria);
    transition: 0.5s;
    border-left: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}


#config-button3 p{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

#config-button3 img{
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

#config-button4{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--Cor-Primaria);
    border-radius: 0px 30px 30px 0px;
    border-color: white;
    margin-bottom: 10px;
    transition: 0.5s;
}

#config-button4:hover{
    border: solid 1px var(--Cor-Terciaria);
    transition: 0.5s;
    border-left: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);

}

#config-button4 p{
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
}

#config-button4 img{
    width: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}


/*AQUI COMEÇA A PARTE PRINCIPAL DO SITE*/

.conteud1{
    width: 100%;
    height: 57vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteud-user{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteud-user h2{
    color: var(--Cor-Secundaria);
    margin-top: 0;
    margin-bottom: 0;
}

.conteud-user img{
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.conteud-search{
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    margin-top: 10px;
}



.search{
    width: 35%;
    height: 100%;
    border: solid 1px var(--Cor-Terciaria);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}

.search img{
    width: 30px;
    height: 30px;
}

#sabadou{
    width: 80%;
    height: 100%;
    border: none;
    margin-left: 5px;
    font-size: 16px;
    outline: none;
    background: none;
}


.conteud-atalho{
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.icon1{
    width: 10%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.icon1 img{
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.icon1 img:hover{
    cursor: pointer;
    scale: 1.1;
}

.icon1 p{
    font-size: 14px;
    color: var(--Cor-Secundaria);
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
}

.icon2 {
    width: 10%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 20px;

}

.icon2 img {
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.icon2 img:hover{
    cursor: pointer;
    scale: 1.1;
}

.icon2 p {
    font-size: 14px;
    color: var(--Cor-Secundaria);
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
}

.icon3 {
    width: 10%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 20px;
   
}

.icon3 img {
    width: 40px;
    height: 40px;
     transition: 0.3s;
}

.icon3 img:hover{
    cursor: pointer;
    scale: 1.1;
}

.icon3 p {
    font-size: 14px;
    color: var(--Cor-Secundaria);
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
}


.big-btn{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    gap: 2rem;
}

.card-info1{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.5px var(--Cor-Terciaria);
    margin-left: 10px;
    transition: 0.3s;
}

.card-info1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    transition: 0.5s;
    border: none;
}

.title-info1{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: var(--Cor-Secundaria);
}

.sub-info1{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sub-info1 p{
    width: 45%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sub-info1 img{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;

}

#linha-info1{
    width: 100%;
}


.btn-info1{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 0;
}

.btn-info1 a{
    font-size: 15px;
    color: var(--Cor-Secundaria);
    font-weight: 400;
    text-decoration: underline;
}








.card-info2 {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.5px var(--Cor-Terciaria);
    margin-left: 10px;
    transition: 0.3s;
}

.card-info2:hover {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    border: none;
}

.title-info2 {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: var(--Cor-Secundaria);
}

.sub-info2 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sub-info2 p {
    width: 45%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sub-info2 img {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}

#linha-info2 {
    width: 100%;
}

.btn-info2 {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 0;
}

.btn-info2 a {
    font-size: 15px;
    color: var(--Cor-Secundaria);
    font-weight: 400;
    text-decoration: underline;
}









.card-info3 {
    width: 75.5%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.5px var(--Cor-Terciaria);
    margin-left: 10px;
    margin-bottom: 200px;
    transition: 0.3s;
}

.card-info3:hover {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    border: none;
}

.title-info3 {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    margin-top: 10px;
    color: var(--Cor-Secundaria);
}

.sub-info3 {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.sub-info3 p {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sub-info3 img {
    width: 17%;
    height: auto;
    display: flex;
    align-items: center;

}

#linha-info3 {
    margin-top: 0;
    width: 90%;
}

.btn-info3 {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 0;
}

.btn-info3 a {
    font-size: 15px;
    color: var(--Cor-Secundaria);
    font-weight: 400;
    text-decoration: underline;
}


/* perfil: foto redonda */
#user-photo,
.conteud-user img,
.user-photo {
  width: 120px !important;
  height: 120px !important;
  display: block !important;
  border-radius: 50% !important;
  object-fit: cover !important;   /* corta e centraliza */
  overflow: hidden !important;
  border: 2px solid #fff !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12) !important;
}

/* versão menor (ex.: ícones) */
.avatar-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* força avatar redondo e sobrescreve regras conflitantes */
#user-photo,
.conteud-user img#user-photo,
.conteud-user .image-user,
.image-user#user-photo {
  width: 200px !important;
  height: 200px !important;
  display: block !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  overflow: hidden !important;
  border: 2px solid #fff !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12) !important;
}

/* Se a foto estiver em um wrapper (div com background-image) */
.photo-wrapper,
.user-photo-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

/* versão menor */
.avatar-sm {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

#remove-photo-btn {
  margin-top: 8px;
  padding: 6px 10px;
  background: transparent;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  border-radius: 6px;
  cursor: pointer;
}
#remove-photo-btn:disabled {
  opacity: 0.6;
  cursor: default;
}