html{
    overflow-x: hidden;
    box-shadow: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    list-style-type: none;
}


body::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

:root{
    --Cor-Primaria: black;
    --Cor-Secundaria: #FE4F3F;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}

/*AQUI TERMINA O BAGUI NECESSARIO DO DESENVOLVIMENTO*/


.title-gerence{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-gerence h2{
    color: var(--Cor-Secundaria);
}


.dads-user{
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.dads{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.name{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteud-name{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.conteud-name h3{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

#name{
    width: 90%;
    height: 35px;
    border-radius: 30px;
    border: solid 1px var(--Cor-Terciaria);
    outline: none;
    font-size: 16px;
}



.email{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteud-email{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.conteud-email h3{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

#email{
        width: 90%;
    height: 35px;
    border-radius: 30px;
    border: solid 1px var(--Cor-Terciaria);
    outline: none;
    font-size: 16px;
}



.telephone{
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.conteud-phone{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;    
}

.conteud-phone h3{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2px;    
}

.insert-tel{
    width: 100%;
    height: 40%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

#subTell{
    width: 12%;
    height: 35px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: solid 1px var(--Cor-Terciaria);
    outline: none;
}

#tel{
    width: 77%;
    height: 35px;
    border-radius: 30px;
    border: solid 1px var(--Cor-Terciaria);
    outline: none;
    font-size: 16px;
}

.cargo{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: 0;  
}



.selecter-cargo{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.selecter-cargo h3{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;     
}

#Status{
            width: 50%;
    height: 50px;


    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
     margin-top: 0;
     outline: none;
}


.btn-alt{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-left: 50px;
}

.config-btn-alt{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-salvar{
    width: 40%;
    height: 80%;
    background-color: var(--Cor-Secundaria);
    color: var(--Branco);
    font-size: 14px;
    font-weight: 100;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-excluir{
    width: 60%;
    height: 80%;
    background-color: var(--Cor-Primaria);
    color: var(--Branco);
    font-size: 14px;
    font-weight: 100;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 5px;
}















.user-dads{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user-foto{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-foto img{
    width: 100%;
    height: 100%;
    display: flex;
}

.entrada{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-enter{
    margin-right: 10px;
}