
#search-name{
    width: 150%;
    height: 50%;
    font-size: 16px;
    display: flex;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
}


.btn-salvar{
    width: 100%;
    height: 80%;
    background-color: var(--Cor-Secundaria);
    color: var(--Branco);
    font-size: 16px;
    font-weight: 100;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-excluir{
    width: 100%;
    height: 80%;
    background-color: var(--Cor-Primaria);
    color: var(--Branco);
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 15px;
    cursor: pointer;
       padding-right: 20px;
    padding-left: 20px;
      
}