/*aqui começa o footer*/
/*footer*/
    footer{
    width: 100%;    
    height: 100%;
    }
    .rodape{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        flex-direction: column;
     
    
    }
    /* AQUI TERMINA A PARTE CENTRAL DO RODAPÉ*/
    
    
    .foot-logo{
        width: 90%;
        height: 80px;
        display: flex;
      
        align-items: center;
    }
    
    .foot-logo img{
        width: 70px;
        height: 70px;
    }
    
    .contatos{
        width: 80%;
        height: 350px;
        display: flex;
        justify-content: center;
    
    }
    
    .titulos{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    
        flex-direction: column;
    }
    
    .titulo{
        width: 160px;
        height: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 27px;
        font-weight: 700;
    }
    
    .subtitle{
        width: 160px;
        height: 25px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 700;
    }
    
    
    
    .cont1{
        width: 300px;
        height: 270px;
      
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .cont-title1{
        width: 200px;
        height: 30px;
    
        color: white;
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .conte{
        display: flex;
        flex-direction: row;
    }
    
    .icon{
        width: 40px;
        height: 40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icon img{
        width: 30px;
        height: 30px;
        filter: grayscale(100%);
        transition: 0.5s;
    }
    
    .icon img:hover {
        filter: grayscale(0%);
        transform: rotateZ(360deg);
    }
    
    .rede{
        width: 140px;
        height: 40px;
    
        color: white;
        display: flex;
        align-items: center;
    }
    
    .rede p{
        font-size: 15px;
        font-weight: 500;
    }
    
    /* AQUI TERMINA O CONTATO 1 */
    
    .cont2{
        width: 300px;
        height: 270px;
     
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .titulo2{
        width: 200px;
        height: 30px;
     
        color: white;
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .abins{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
    }
    
    .abins a{
        color: white;
        text-decoration: none;
    }
    
    .abins a:visited{
        color: white;
    }
    
    .abins p{
    
        font-weight: 500;
    
    }
    
    .cont3{
        width: 300px;
        height: 270px;
    
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .titulo3{
        width: 200px;
        height: 30px;
    
        color: white;
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .produts{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
    }
    
    .produts a{
        color: white;
        text-decoration: none;
    }
    
    .produts a:visited{
        color: white;
    }
    
    .produts p{
    
        font-weight: 500;
    
    }
.faleconosco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-right: 300px;
}
