html{
    overflow-x: hidden;
    box-shadow: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    list-style-type: none;
}


body::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

:root{
    --Cor-Primaria: black;
    --Cor-Secundaria: #FE4F3F;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}


/*Aqui termina as configurações centrais do projeto*/


.title-users{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title-users h1{
    color: var(--Cor-Secundaria);
}


.searching{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sirch{
    width: 30%;
    height: 80%;
    border: solid 1px var(--Cor-Terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#sear{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}


.filtros{
    width: 80vw;
    height: 30vh;
    margin-top: 5px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.title-filtros{
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    color: var(--Cor-Secundaria);


}

.true-filtros{
    width: 95%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.campos-filtros{
    width: 100%;

    display: grid;
}

/*filtros*/

#all-types{
    width: 30%;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}

#Status{
        width: 30%;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}

#time{
        width: 30%;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}

#UF{
        width: 20%;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}

#city{
        width: 20%;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}

#new-ant{
         width: 20%;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border: solid var(--Cor-Terciaria) 1px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}


.aplicador{
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
 
}

#aplicar{
    width: 50%;
    height: 80%;
    background-color: var(--Cor-Secundaria);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

#limpar{
    width: 50%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
}


.adcionar{
    width: 93%;
    height: 60px;
    display: flex;
    align-items: center;
}

#addi-produto{
    width: 15%;
    height: 70%;
    background-color: var(--Cor-Secundaria);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
/*AQUI TERMINA A AREA DE PRODUTOS*/
