hmtl{
    overflow-x: hidden;
    box-shadow: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    list-style-type: none;
}


body::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

:root{
    --Cor-Primaria: black;
    --Cor-Secundaria: #FE4F3F;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}


/*TERMINA AS CONFIGURAÇOES BASICAS PARA O DESENVOLVIMENTO*/

/*AQUI COMEÇA O O NAVBAR*/

/*AQUI COMEÇA O O NAVBAR*/

.navbar{
    width: 100vw;
    height: 9vh;
    background-color: var(--Cor-Primaria);
    display: flex;
    flex-direction: row;
}

.logotipo{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.logotipo span{
    color: var(--Cor-Secundaria);
    font-size: 3.2vh;
    font-weight: 700;
    
}

.logotipo img{
    width: auto;
    height: 85%;
    display: flex;
    margin-left: 2vh;
}

/*AQUI COMEÇA A PARTE DE NOTIFICAÇÃO E LOGIN*/

.notification{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notification img{
    width: auto;
    height: 35%;
    display: flex;
    margin-right: 2vh;
}

.notification span{
        width: auto;
    height: 115%;
    display: flex;
    margin-right: 2vh;
    align-items: center;
}

aside{
    border: solid red;
    display: flex;
    justify-content: center;
    width: 14vw;
    height: 50vh;
    flex-direction: column;

}

.menu{
    width: 80%;
    height: 100%;
    border: solid;
    display: flex;
    flex-direction: column;
    background-color: var(--Cor-Primaria);
}

.menu a{
    color: var(--Branco);
    font-size: 2vh;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 5%;
}

.gerenciar{
    width: 100%;
    height: 43%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    color: white;

}

.title-gerence{
    width: 100%;
    height: 10%;

    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;

}

#seta{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 25%;
}

#gear{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2%;
}

.options-gerence{
    width: 100%;
    height: 100%;

    gap: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options-gerence a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;

    font-weight: 300;
}

/*CONFIGURAÇÕES BASICAS DO CONTEUD*/
 .conteud{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
 }

main{
    border: solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicator{
    width: 100%;
    height: 45px;
    border: solid orange;
    display: flex;
}

.title-page{
    width: 100%;
    height: 65px;
    display: flex;
    border: solid;
    align-items: center;
    justify-content: center;
}

.title-page h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Cor-Secundaria);
    font-size: 35px;
}












/*aqui começa o footer*/
/*footer*/
    footer{
    width: 100%;    
    height: 100%;
    }
    .rodape{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        flex-direction: column;
     
    
    }
    /* AQUI TERMINA A PARTE CENTRAL DO RODAPÉ*/
    
    
    .foot-logo{
        width: 90%;
        height: 80px;
        display: flex;
      
        align-items: center;
    }
    
    .foot-logo img{
        width: 70px;
        height: 70px;
    }
    
    .contatos{
        width: 80%;
        height: 350px;
        display: flex;
        justify-content: center;
    
    }
    
    .titulos{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    
        flex-direction: column;
    }
    
    .titulo{
        width: 160px;
        height: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 27px;
        font-weight: 700;
    }
    
    .subtitle{
        width: 160px;
        height: 25px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 700;
    }
    
    
    
    .cont1{
        width: 300px;
        height: 270px;
      
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .cont-title1{
        width: 200px;
        height: 30px;
    
        color: white;
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .conte{
        display: flex;
        flex-direction: row;
    }
    
    .icon{
        width: 40px;
        height: 40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icon img{
        width: 30px;
        height: 30px;
        filter: grayscale(100%);
        transition: 0.5s;
    }
    
    .icon img:hover {
        filter: grayscale(0%);
        transform: rotateZ(360deg);
    }
    
    .rede{
        width: 140px;
        height: 40px;
    
        color: white;
        display: flex;
        align-items: center;
    }
    
    .rede p{
        font-size: 15px;
        font-weight: 500;
    }
    
    /* AQUI TERMINA O CONTATO 1 */
    
    .cont2{
        width: 300px;
        height: 270px;
     
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .titulo2{
        width: 200px;
        height: 30px;
     
        color: white;
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .abins{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
    }
    
    .abins p{
    
        font-weight: 500;
    
    }
    
    .cont3{
        width: 300px;
        height: 270px;
    
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }
    
    .titulo3{
        width: 200px;
        height: 30px;
    
        color: white;
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .produts{
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
    }
    
    .produts p{
    
        font-weight: 500;
    
    }
.faleconosco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-right: 300px;
}
