html {
  overflow-x: hidden;
  box-shadow: none;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;

}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

:root {
  --Cor-Primaria: #FE4F3F;
  --Cor-Secundaria: #000000;
  --Cor-Terciaria: #7C7C7C;
  --Branco: #fff;
}


/* AQUI é o header*/
a {
  text-decoration: none;
  list-style-type: none;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #FE4F3F;
  z-index: 1;


}

/*AQUI TERMINA A PARTE CENTRAL DO PROJETO*/

.logo {
  width: 30rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.logo img {
  width: 70px;
  height: 70px;
  transition: 0.5s;
}

.logo img:hover {
  transform: scale(1.1);
}

/*AQUI TERMINA AS CONFIGURAÇOES DO LOGO*/

.abas {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;

}

.abas a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  width: 100px;
  height: 60px;
  color: white;
  margin-right: 30px;
  transition: 0.5s;
}

.abas a:hover {
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  border-bottom: solid white 0.5px;

}



/*AQUI TERMINA AS CONFIGURAÇOES DO ABA*/

.login {
  width: 460px;
  height: 70px;

  justify-content: center;
  align-items: center;
}




.displau-subs {
  display: flex;

  width: 14%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.icon-person {
  width: 5vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.2s ease;
}

.icon-person:hover {
  transform: scale(0.9);

}

.icon-person img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;

}

.title-fenix {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0;
}

.title-fenix h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.title-fenix span {
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;

}













/* Ícone do menu */




.menu-icon {
  top: 20px;
  right: 20px;
  font-size: 24px;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
  background: none;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: auto;
  border: none;
  transition: 0.3s all;
}



.menu-icon img {
  display: flex;
  width: 30px;
  height: 30px;
}

/* Menu lateral */
.side-menu {
  position: fixed;
  top: 0;
  right: -380px;
  /* escondido inicialmente */
  width: 300px;
  height: 80%;
  background: #353535;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1100;
}

.side-menu.open {
  right: 0;
}

/* Header do menu */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Cor-Primaria);
  font-size: 25px;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* Seções do menu */
.menu-section {
  margin-top: 20px;
}

.menu-section h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  color: var(--Cor-Primaria);
}

.menu-section ul {
  list-style: none;
  color: #FE4F3F;
  padding: 0;
}

.menu-section ul li {
  margin: 10px 0;
}

.menu-section ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: 0.2s;
  font-size: 17px;
}

.menu-section ul li a:hover {
  color: #60A5FA;
}

/* Fundo escuro quando o menu está aberto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1050;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

.menu-icon {
  display: none;
}

/* Mostra o ícone apenas em telas pequenas */
@media screen and (max-width: 480px) {


  body {
    overflow-x: hidden;
  }

  .menu-icon {
    display: block;
  }

  .menuzera {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 60px;
  }

  .barra {
    display: none;
  }


  .displau-subs {
    display: none;
  }






}

/* Responsivo */
@media (max-width: 480px) {
  .side-menu {
    width: 80%;
  }
}





















/*area modal*/
/* Modal da área do usuário */


/*aqui termina a area modal*/


@media screen and (max-width: 480px) {

  .navbar {
    position: fixed;
    border-radius: 20px;
    margin-top: 10px;
    z-index: 10000000000000;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  }

  .icon-person {
    display: none;
  }

  .abas {
    display: none;
  }

  hr {
    display: none;
  }

  .logo {
    width: 17rem;
    justify-content: space-between;
  }

  .logo img {
    width: 100%;
    margin-left: 0;
  }

  .title-fenix {
    display: flex;
    width: 70%;
  }




}