
html{
    overflow-x: hidden;
    box-shadow: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}

body::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

:root{
    --Cor-Primaria: #FE4F3F;
    --Cor-Secundaria: #000000;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}


/* AQUI é o header*/
a{
    text-decoration: none;
    list-style-type: none;
}

header{
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #FE4F3F;
    z-index: 1;

    
}/*AQUI TERMINA A PARTE CENTRAL DO PROJETO*/

.logo{
    width: 30rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo img{
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.logo img:hover{
    transform: scale(1.1);
}

/*AQUI TERMINA AS CONFIGURAÇOES DO LOGO*/

.abas{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;

}

.abas a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    width: 100px;
    height: 60px;
    color: white;
    margin-right: 30px;
    transition: 0.5s;
}

.abas a:hover{
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    border-bottom: solid white 0.5px;

}



/*AQUI TERMINA AS CONFIGURAÇOES DO ABA*/

.login{
    width: 460px;
    height: 70px;

    justify-content: center;
    align-items: center;
}




.displau-subs{
    display: flex;

    width: 14%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.icon-person{
    width: 5vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.2s ease;
}

.icon-person:hover{
    transform: scale(0.9);

}

.icon-person img{

    width: auto;
    height: 3rem;

}

.title-fenix{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0;
}
.title-fenix h3{
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.title-fenix span{
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*area modal*/
/* Modal da área do usuário */


/*aqui termina a area modal*/


@media screen and ( max-width: 480px) {

.menu{
    display: block;
    position: relative;
  
}
.icon-person{
    display: none;
}
.abas{
    display: none;
}
hr{
    display: none;
}
}
