hmtl{
    overflow-x: hidden;
    box-shadow: none;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;    

}
body::-webkit-scrollbar{
    display: none;
}
*{
    box-sizing: border-box;
}

/*ESSE ROOT AÍ É PRA FACILITAR NA ESCOLHA DO DAS CORES DO SITE. PARA ATIVALA VC COLO A PROPRIEDADE QUE VC
QE COLOAR O SITE  EM SEGUIDA VOCE COLOCA 'VAR()'*/

:root{
    --Cor-Primaria: #FE4F3F;
    --Cor-Secundaria: #000000;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}

/* AQUI é o header*/
a{
    text-decoration: none;
    list-style-type: none;
}



.barra hr{
    height: 20px;
    
}/*AQUI É A BARRINHA BRANCA DO NAVBAR QUE SEPARA AS ABAS DO LOGIN*/

/*AQUI É O FOOTER*/




.nav-list{
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 75px;
}

.pesq-bar{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesq-imovel{
    width: 600px;
    height: 45px;
    display: flex;
    border-radius: 10px;
    border: solid 1px;
    font-family:  "Montserrat", sans-serif;
}


.filtro{
    width: 50%;
    height: 100%;
    display: flex;
    


    
}

.icon-filtro{
    width: 140px;
    height: 100%;
    display: flex;
 
    font-size: 13px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#filtr{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.filtrosas{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filtrosas2{
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preço{
    color: var(--Cor-Terciaria);
    display: flex;
    font-size: 20px;
}

#all-preço{
    color: var(--Cor-Terciaria);
    display: flex;
    font-size: 18px;
    margin-left: 10px;
    width: 150px;
    font-weight: 400;
}

#tipo-imovel{
    width: 110px;
    height: 50px;
    display: flex;
    border-radius: 12px;
    border: none;
    font-family:  "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
}

#tipo-imovel2{
    width: 80px;
    height: 50px;
    display: flex;
    border-radius: 12px;
    border: none;
    font-family:  "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
}

.filtrosas3{
    width: 60%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}








main{
display: flex;
flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
height: 300vh;

    background-color: #EDEDED;
}
.favoritos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    margin-right: 30px;
}
.favoritos img{
    width: 3vh;
    height: 3vh;
    margin-left: 10px;
    cursor: pointer;
}
.fav1{
 width: 100%;

    display: flex;
    justify-content: flex-end;
    
}

.pesquisa{
    background-color: var(--Branco);
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
    border:solid,gainsboro,2.0px;
    font-size: 15px;
    border-radius: 12px;
    padding: 10px;
    color: gray;
    padding-right: 90px;
    margin-right: 20px;
}

.pesquisa img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;

}
.pesq{
 display: flex;
 flex-direction: row;
 width: 80%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}


.imoveis{
        margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}
/* imoveis */
.imovel1{

display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
margin-bottom: 30px;
}
.imovel1 img{ 
width: 250px;    
height: 234px;    
}

.imovel2{

display: flex;
margin-bottom: 30px;
    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel2 img{ 
width: 250px;    
height: 234px;    
}

.imovel3{

display: flex;
margin-bottom: 30px;
    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel3 img{ 
width: 250px;    
height: 234px;    
}
.imovel4{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel4 img{ 
width: 250px;    
height: 234px;    
}
.imovel5{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel5 img{ 
width: 250px;    
height: 234px;    
}
.imovel6{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel6 img{ 
width: 250px;    
height: 234px;    
}
.imovel7{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel7 img{ 
width: 250px;    
height: 234px;    
}
.imovel8{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel8 img{ 
width: 250px;    
height: 234px;    
}
/* //////// */
.imoveldesc{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
   width: 100%;
text-align: center;
}

.infolocal{
   display:flex;
   flex-direction:row;
   align-items: center ;
    
}

 .situacaoatual{
    display: flex;
    flex-direction: row;
    justify-content: center;
 align-items: center;
 margin-bottom: 15px;
 }
 .situacaoatual img{
position: relative;
right: -12px;
margin-right: 15px;
margin-bottom: 29px;
 }

 .nomeimovel{
 display: flex;
 flex-direction: row;
 align-items: center;   
 margin-bottom: 5px;
 justify-content: center;
}
.nomeimovel img{
    width: 30px;
    height:30px;
}

@media screen and (max-width: 480px) {

    .fav1{
        display: none;
    }
    h1{display: none;}

.correcaomobile{
    display: none;
}
.navbar{
margin-bottom: 100px;

}
.imovel1 p{
    font-size: 12px;
    width: 180px;
}
.imovel1 img{
width: 50%;
    height: 100%;


}
.situacaoatual{
position: relative;
top: -30px;
}
.imovel2 p{
    font-size: 12px;
    width: 180px;
}
.imovel2 img{
width: 50%;
    height: 100%;


}
.imovel3 p{
    font-size: 12px;
    width: 180px;
}
.imovel3 img{
width: 50%;
    height: 100%;


}
.imovel4 p{
    font-size: 12px;
    width: 180px;
}
.imovel4 img{
width: 50%;
    height: 100%;


}
.imovel5 p{
    font-size: 12px;
    width: 180px;
}
.imovel5 img{
width: 50%;
    height: 100%;


}
.imovel6 p{
    font-size: 12px;
    width: 180px;
}
.imovel6 img{
width: 50%;
    height: 100%;


}
.imovel7 p{
    font-size: 12px;
    width: 180px;
}
.imovel7 img{
width: 50%;
    height: 100%;


}
.imovel8 p{
    font-size: 12px;
    width: 180px;
}
.imovel8 img{
width: 50%;
    height: 100%;


}
.imovel8{
margin-bottom: 301px;
}
.navegacao{
 display: none  ;   
}
}