hmtl{
    overflow-x: hidden;
    box-shadow: none;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;    

}
body::-webkit-scrollbar{
    display: none;
}
*{
    box-sizing: border-box;
}

/*ESSE ROOT AÍ É PRA FACILITAR NA ESCOLHA DO DAS CORES DO SITE. PARA ATIVALA VC COLO A PROPRIEDADE QUE VC
QE COLOAR O SITE  EM SEGUIDA VOCE COLOCA 'VAR()'*/

:root{
    --Cor-Primaria: #FE4F3F;
    --Cor-Secundaria: #000000;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}

/* AQUI é o header*/
a{
    text-decoration: none;
    list-style-type: none;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 70px;
    background-color: var(--Cor-Primaria);
    
}/*AQUI TERMINA A PARTE CENTRAL DO PROJETO*/

.logo{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.logo img:hover{
    transform: scale(1.1);
}



/*AQUI TERMINA AS CONFIGURAÇOES DO LOGO*/

.abas{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.abas a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    width: 100px;
    height: 40px;
    color: var(--Branco);
    margin-right: 30px;
    transition: 0.5s;

}

.abas a:hover{
    border-top: 1px solid var(--Branco);
    border-bottom: 1px solid var(--Branco);
    border-left: none;
    border-right: none;
}

/*AQUI TERMINA AS CONFIGURAÇOES DO ABA*/

.login{
    width: 460px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 1rem;
}

#but1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: var(--Branco);
    font-size: 15px;
    background: none;
    border-radius: 100px;
    border: solid var(--Cor-Primaria);
    width: 130px;
    height: 40px;
    margin: auto;
    margin-right: 10px;
    font-weight: 300;
    transition: 0.5s;
}

#but1:hover{
    border:solid var(--Branco) 1px;

}

#but2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: var(--Branco);
    font-size: 15px;
    background: none;
    border-radius: 100px;
    border: solid var(--Branco);
    border-width: 1px;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    font-weight: 300;
    transition: 0.5s;

}

#but2:hover{
    background-color: var(--Branco);
    color: var(--Cor-Secundaria);
    font-weight: 400;

}

/*AQUI TERMINA AS CONFIGURAÇOES DO LOGIN*/

.barra hr{
    height: 20px;
    
}/*AQUI É A BARRINHA BRANCA DO NAVBAR QUE SEPARA AS ABAS DO LOGIN*/

/*AQUI É O FOOTER*/

.rodape{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cor-Secundaria);
    flex-direction: column;

}
/* AQUI TERMINA A PARTE CENTRAL DO RODAPÉ*/


.foot-logo{
    width: 90%;
    height: 80px;
    display: flex;
  
    align-items: center;
}

.foot-logo img{
    width: 70px;
    height: 70px;
}

.contatos{
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;

}

.titulos{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.titulo{
    width: 160px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Branco);
    font-size: 27px;
    font-weight: 700;
}

.subtitle{
    width: 160px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Branco);
    font-size: 14px;
    font-weight: 700;
}



.cont1{
    width: 100%;
    height: 270px;
  
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.cont-title1{
    width: 200px;
    height: 30px;

    color: var(--Branco);
    display:  flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.conte{
    display: flex;
    flex-direction: row;
}

.icon{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img{
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.icon img:hover {
    filter: grayscale(0%);
    transform: rotateZ(360deg);
}

.rede{
    width: 140px;
    height: 40px;

    color: var(--Branco);
    display: flex;
    align-items: center;
}

.rede p{
    font-size: 15px;
    font-weight: 500;
}

/* AQUI TERMINA O CONTATO 1 */

.cont2{
    width: 100%;
    height: 270px;
 
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.titulo2{
    width: 200px;
    height: 30px;
 
    color: var(--Branco);
    display:  flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.abins{
    display: flex;
    flex-direction: column;
    color: var(--Branco);
    align-items: center;
}

.abins p{

    font-weight: 500;

}

.cont3{
    width: 100%;
    height: 270px;

    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.titulo3{
    width: 200px;
    height: 30px;

    color: var(--Branco);
    display:  flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.produts{
    display: flex;
    flex-direction: column;
    color: var(--Branco);
    align-items: center;
}

.produts p{

    font-weight: 500;

}

.direitos-reservados{
    color: var(--Branco);
}

main{
display: flex;
flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
height: 400vh;

    background-color: #EDEDED;
}
.favoritos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    margin-right: 30px;
}
.favoritos img{
    width: 3vh;
    height: 3vh;
    margin-left: 10px;
    cursor: pointer;
}
.fav1{
 width: 100%;

    display: flex;
    justify-content: flex-end;
    
}

.pesquisa{
    background-color: var(--Branco);
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
    border:solid,gainsboro,2.0px;
    font-size: 15px;
    border-radius: 12px;
    padding: 10px;
    color: gray;
    padding-right: 90px;
    margin-right: 20px;
}

.pesquisa img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;

}
.pesq{
 display: flex;
 flex-direction: row;
 width: 80%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}


.imoveis{
        margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
/* imoveis */
.imovel1{

display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
margin-bottom: 30px;
}
.imovel1 img{ 
width: 250px;    
height: 234px;    
}

.imovel2{

display: flex;
margin-bottom: 30px;
    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel2 img{ 
width: 250px;    
height: 234px;    
}

.imovel3{

display: flex;
margin-bottom: 30px;
    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel3 img{ 
width: 250px;    
height: 234px;    
}
.imovel4{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel4 img{ 
width: 250px;    
height: 234px;    
}
.imovel5{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel5 img{ 
width: 250px;    
height: 234px;    
}
.imovel6{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel6 img{ 
width: 250px;    
height: 234px;    
}
.imovel7{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel7 img{ 
width: 250px;    
height: 234px;    
}
.imovel8{
margin-bottom: 30px;
display: flex;

    flex-direction: row;
margin-left: 30px;
    width: 90%;
height: 240px;
border-radius: 12px;
border: solid;
}
.imovel8 img{ 
width: 250px;    
height: 234px;    
}
/* //////// */
.imoveldesc{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
   width: 100%;
text-align: center;
}

.infolocal{
   display:flex;
   flex-direction:row;
   align-items: center ;
    
}

 .situacaoatual{
    display: flex;
    flex-direction: row;
    justify-content: center;
 align-items: center;
 margin-bottom: 15px;
 }
 .situacaoatual img{
position: relative;
right: -12px;
margin-right: 15px;
margin-bottom: 29px;
 }

 .nomeimovel{
 display: flex;
 flex-direction: row;
 align-items: center;   
 margin-bottom: 5px;
 justify-content: center;
}
.nomeimovel img{
    width: 30px;
    height:30px;
}