html {
    overflow-x: hidden;
    box-shadow: none;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

:root {
    --Cor-Primaria: #FE4F3F;
    --Cor-Secundaria: #000000;
    --Cor-Terciaria: #7C7C7C;
    --Branco: #fff;
}





/*aqui termina a area modal*/

/*AQUI TERMINA AS CONFIGURAÇOES DO LOGIN*/

.barra hr {
    height: 20px;

}

/*AQUI É A BARRINHA BRANCA DO NAVBAR QUE SEPARA AS ABAS DO LOGIN*/

/*AQUI TERMINA O HEADER*/


/*CONTEUDO DO MAIN*/

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*AQUI É A LOGO GRANDE DO SOBRE*/

.conteud1 {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.logo-conteud1 {
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-conteud1 img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.texto-conteud1 {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto-conteud1 h2 {
    font-size: 55px;
    font-weight: 300;
    color: var(--Cor-Primaria);

    letter-spacing: 14px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subtext-conteud1 {
    width: 40;
    height: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subtext-conteud1 p {
    font-size: 20px;
    color: var(--Cor-Primaria);
    display: flex;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*AQUI TERMINA A LOGO GRANDE DO SOBRE*/







/* AQUI É O CONTEUDO PRINCIPAL 1 */

.conteud2 {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title-conteud2 {
    width: 53%;
    height: 70px;
    align-items: center;
    display: flex;

}

.title-conteud2 h2 {
    font-size: 40px;
    font-weight: 800;
    color: var(--Cor-Primaria);
    margin-left: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-conteud2 {
    width: 100%;
    height: 100%;
    background-color: var(--Cor-Primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text2 {
    width: 50%;
    height: 100%;
    display: flex;
    text-decoration: dashed;
    align-items: center;
    font-size: 20px;
    color: var(--Branco);
    font-weight: 500;
}

.text-conteud3 {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text3 {
    width: 50%;
    height: 100%;
    display: flex;
    text-decoration: dashed;
    align-items: center;
    font-size: 20px;
    color: var(--Cor-Secundaria);
    font-weight: 300;
}

/*AQUI COMEÇA A PARTE DO FUNDADOR DA EMPRESA*/

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--Cor-Secundaria);
    clip-path: polygon(0 17%, 100% 0%, 100% 83%, 0% 100%);
    display: flex;
    flex-direction: row;

}

.fundad {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    color: var(--Branco);
    align-items: end;
    justify-content: center;
    text-align: end;
}

#parte1 {
    font-size: 25px;
    font-weight: 200;
    display: flex;
}

/*Tracinho do Fundador*/

#tracinho {
    width: 30%;
    height: 1%;
    background-color: var(--Cor-Primaria);
    border: none;
    display: flex;
    margin-right: 0;
    margin-top: -10px;
    border-radius: 5px;
}

/*Fim do Tracinho*/

#parte2 {
    font-size: 30px;
    display: flex;
    font-weight: 700;
    margin-top: -5px;
}

#parte3 {
    font-size: 26px;
    font-weight: 500;
    display: flex;
    margin-top: -5px;
}

#fim {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-top: -30px;
}

.bitian {
    width: 100%;
    height: 10vh;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: end;
}

#btn-bittian {
    width: 150px;
    height: 40px;
    background-color: var(--Cor-Primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
    transition: 0.2s all;
}

#btn-bittian:hover {
    transform: scale(0.9);
}

.fot-fundad {
    width: 60%;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: center;

}


.fot-fundad img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    clip-path: polygon(13% 0, 100% 0%, 87% 100%, 0% 100%);

}


/*Aqui é a parte laranja*/

.complem {
    width: 100%;
    height: 650px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.complem-iage {
    width: 70%;
    height: 70vh;
    background-color: #FE4F3F;
    background-image: url(../img/Mask\ group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    object-fit: cover;
    margin: auto;
    display: flex;
    border-radius: 0px 30px 30px 0px;
}

.complem-teste {
    width: 75vw;
    height: 65vh;
    display: flex;
    flex-direction: column;

}

.title-complem {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ttt1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FE4F3F;
    font-size: 20px;
}

.sub-complem {
    width: 100%;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-complem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.icone-comp1 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

.icon1 {
    width: 60px;
    height: 60px;
    display: flex;
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-com {
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #FE4F3F;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
}

.icone-comp2 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

.icon2 {
    width: 60px;
    height: 60px;
    display: flex;
    background-image: url(../img/plant2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-com2 {
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #FE4F3F;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
}

.icone-comp3 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

.icon3 {
    width: 60px;
    height: 60px;
    display: flex;
    background-image: url(../img/martelo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-com3 {
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #FE4F3F;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;

}

.icone-comp4 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

.icon4 {
    width: 60px;
    height: 60px;
    display: flex;
    background-image: url(../img/local.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-com4 {
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #FE4F3F;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
}



.complem-co {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 400px;
    color: white;
}

.complem-title {
    height: 90%;
    width: 90%;
    border: solid white;
    display: flex;
    margin: auto;
}


/*primeiro conteudo aqui*/




.dec {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.dec1 {
    display: flex;
    width: 100%;
    height: 300px;

    color: white;
    flex-direction: column;

}

.dec2 {
    display: flex;
    width: 100%;
    height: 300px;
    color: white;
    flex-direction: column;
}

.complement {
    width: 100%;
    height: 700px;
    color: white;
    background-color: black;
    z-index: 0;
    display: flex;
}

.complement1 {
    width: 50vw;
    height: 50vh;
    background-color: #FE4F3F;
    z-index: 1;
    margin-top: -30PX;
}


#img1 {
    width: 40%;
    height: 80%;
    display: flex;
    z-index: 2;
    margin-top: 10px;
    margin-left: -90px;
}

.sub-log {
    display: flex;
}

.complement1 img {
    display: flex;

    width: 400px;
    height: 350px;
    margin-top: 1px;
    margin-right: -60px;
    ;
    z-index: 2;

}

.sutiti1 {
    display: flex;
    width: 500px;
    height: 200px;
    z-index: 1;

}

.list {
    width: 80%;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}



/*----------------------------------------------------------------------------------------------------------------*/

/*AQUI É O FOOTER*/



/* AREA MOBILE*/

@media screen and (max-width: 858px) {

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-family: "Inter", sans-serif;
    }

    /*navbar*/
    .abas {
        display: none;
    }

    .barra {
        display: none;
    }

    .login {
        display: none;
    }

    /*Conteudo principal*/

    .logo-conteud1 {
        width: 100%;
        height: 60%;
    }

    .logo-conteud1 img {
        width: 200px;
        height: 200px;
    }

    .conteud2 {
        width: 100%;
        height: 30%;
        display: block;
    }

    .title-conteud2 h2 {
        font-size: 26px;
    }

    .text-conteud2 {
        height: 60%;
    }

    .text2 {
        width: 100%;
        height: 90%;
        font-size: 12px;
        text-align: center;
    }


}

/*botoes de sair e favoritos*/

#btn-favoritos,
#btn-logout {
    background-color: var(--Branco);
    color: var(--Cor-Primaria);
    border: 2px solid var(--Cor-Primaria);
    border-radius: 8px;
    padding: 5px 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, border 0.3s;
    margin-left: 5px;
}

.btn-favoritos:hover,
.btn-logout:hover {
    background-color: var(--Cor-Primaria);
    color: var(--Branco);
    border-color: var(--Cor-Primaria);
}

@media screen and (max-width: 480px) {


    .title-conteud2 {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-conteud2 h2{
        align-items: center;
        justify-content: center;
        margin: 0;
    }


    .text3 {
        width: 90%;
        font-size: 15px;
    }

    .text-conteud2 {
        height: 70vh;
    }

    .text2 {
        width: 90%;
        height: 90%;
        font-size: 15px;
        text-align: justify;
    }

    .container {
        flex-direction: column;
        height: 200vh;
        margin-left:  0;

    }

    .fundad {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        color: var(--Branco);
        align-items: end;
        justify-content: center;
        text-align: end;
        
    }

    .fot-fundad{
            clip-path: none;
            justify-content: center;
    }

    #parte1 p {
        margin-top: -60px;
    }

    #parte1 {
        margin-top: 14vh;
        font-size: 25px;
        font-weight: 200;
        display: flex;
    }

    /*Tracinho do Fundador*/

    #tracinho {
        width: 30%;
        height: 1%;
        background-color: var(--Cor-Primaria);
        border: none;
        display: flex;
        margin-right: 0;
        margin-top: -10px;
        border-radius: 5px;
    }

    /*Fim do Tracinho*/

    #parte2 {
        font-size: 30px;
        display: flex;
        font-weight: 700;
        margin-top: -5px;
    }

    #parte3 {
        font-size: 26px;
        font-weight: 500;
        display: flex;
        margin-top: -5px;
    }

    #fim {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        margin-top: -30px;
    }

    .fot-fundad {
        width: 100%;
        height: 100%;
        margin-left: 30px;
        display: flex;
        justify-content: center;


    }

    

    .fot-fundad img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: none;
        margin: 0;

    }

    .complem-iage {
        width: 100%;
        height: 100%;
        background-color: #FE4F3F;
        background-image: url(img/Mask\ group.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 440px;
        display: flex;
        margin-right: 10px;
        margin-top: 100px;
        margin-bottom: 50px;


    }

    .complem {
        width: 120%;
        height: 650px;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
    }

    .sub-complem {
        width: 100%;
        height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    /* footer */

}